@charset "UTF-8";

body{
    background-color: gray
}
.Yohanna{
    color: black;
}
.Borboleta{
    color: red;
}
.Button{
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5%;
    background-color: #7c5e99;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto; 
    margin-right: auto;
    display: flex;
   justify-content: center;
   box-sizing: border-box;
   transition: transform 200ms ease-in-out;
}
button:hover{
    transform: scale(1.05);
}
.segundapágina{
    color: blue;
}
