@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
    width: 100vw;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela{
 position: relative;
 width: 267px;
 height: 470px;
 top: 80px;
 left: 22px;
}

section#redes-sociais{
    text-align: right;
}

section#redes-sociais img:hover{
    transform: translate(-5px, -5px);
    transition: transform 0.5s, border-radius 1.0s, box-shadow 1.2s, border 1.2s;
    border-radius: 50%;
    border: 1.5px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}

section#redes-sociais img:not(hover){
transition: transform 1.0s, border-radius 1.5s, box-shadow 1.4s;    
}

section#redes-sociais img{
    width: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 10%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}
