@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02:  "Passion One", sans-serif;
    --fonte03: "Sriracha", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

html, body{
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 10vh;
}

 header > p{
    padding-bottom: 50px;
 }

 a{
    color: cyan;
    text-decoration: none;
    font-size: 17px;
 }

 a:hover{
    cursor: pointer;
    transition-duration: 0.8s;
    padding-left: 5px;
    padding-top: 2px;
    text-decoration: underline;
    /*Lembrar de adicionar o esfumado no link*/
 }

 a:not(:hover){
    transition-duration: 0.5s;
 }

 section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 22px;
    font-size: 3.5vh;
    font-family: var(--fonte03);
 }
 
 section > p{
   font-family: var(--fonte03);
   padding-bottom: 1em;
 }

 section.normal{
    background-color: white;
    color: black;
 }

 section.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
 }

 section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.270);
    text-shadow: 1px 2px 4px black;
 }

 section#img01{
   background-image: url(imagens/imgbk1.jpg);
   background-position: center center;
   background-repeat: no-repeat;
 }

 section#img02{
   background-image: url(imagens/imgbk2.jpg);
   background-position: center left;
   background-repeat: no-repeat;
 }

 footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 9.5px;
 }

 footer > p > a{
    font-variant: small-caps;
 }