@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 
 @font-face{
  font-family: 'Android';
  src: url(fontes/idroid.otf) format(opentype);
  font-weight: normal;
 }
 *{
  padding: 0px;
  margin: 0px;
 }
 .pequena{
  max-width: 350px;
  margin: auto; 
  display: block;
 }
   :root{

    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor03:#2fa866;
    --cor4: #1a5c37;
    --cor05:#063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-android: 'Android', 'cursive';
   }
   main a{
    text-decoration: none;
   }
   main p{
    margin: 4px 0px 8px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.3em;
   }
   main a:active{
   color: black;
   }
   main a:hover{ 
    color: rgb(0, 207, 0);
    text-decoration: underline;
    background-color: #83e1adb0;
    transition: 0.5s;
    padding: 5px;
    border-radius: 3px;
   }
   main a:not(:hover){
    transition-duration: 0.5s;
   }
   body{
    background-color: var(--cor0);
   }
   a.external::after{
    content: '\1F517';
   }
   header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor05));
    text-align: center;
    min-height: 150px;
    padding-top: 14px;
   }
   header > h1{
    font-family: Bebas Neue;
    color: white;
    font-weight: normal;
    margin-top: 21px;
    margin-bottom: 12px;
    font-size: 2.3em;
   text-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
   }
   header > p{
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
    padding-right: 12px;
    text-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
   }
   nav{
    background-color: var(--cor05);
    font-family: var(--fonte-padrao);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.418);
    padding-right: 2px;
   }
   nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);  
    transition-duration: 0.5s;
    border-radius: 3px;
    padding: 10px;
   }
   nav > a:not(:hover) {
    transition-duration: 0.5s;
}
   nav > a {
    font-weight: bold;
    color: var(--cor1);
    text-decoration: none;
    padding: 5px;
   }
   main{
    min-width: 263px;
    max-width: 1000px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.247);
    margin-bottom: 30px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
   }
   main img{
    width: 100%;
   }
   main h1{
    font-family: var(--fonte-android);
    color: var(--cor04);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 5px;
   }
   main h2{
    font-family: var(--fonte-android);
    color: var(--cor04);
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.1em;
    text-indent: 5px;
   }
   main strong{
    text-decoration: underline;
   }
   aside > h3{
    background-color: #2FA866;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 20px;
    font-weight: 20px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding-top: 3px;
}
aside{
  background-color: var(--cor2);
  text-align: left;
    color: black;
  border-radius: 16px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
aside > ul{
  list-style: '\2714\00A0\00A0';
  list-style-position: inside;
  columns: 2;
}
aside > ul > li{
  margin-bottom: 5px;
  text-indent: 10px;
}
aside > div > p{
 font-size: 15px;
 text-align: justify;
}
   footer{
    text-align: center;
    background-color: #063D1E;
    color: white;
    padding: 4px;
    font-size: 0.9em;
   }
   footer a{
    text-decoration: none;
    color: var(--cor1);
   }
   footer a:hover{
    background-color: var(--cor03);
    color: var(--cor05);  
    transition-duration: 0.5s;
    border-radius: 3px;
    padding: 10px 10px 2px 10px;
   }
   footer a:not(:hover){
    transition-duration: 0.5s;
   }
   footer a:active{
    color: black;
   }
   div.vídeo{
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.6%;
   }
   div.vídeo > iframe{
    position: absolute;
    top: 5%;
    left: 5%;  
    width: 90%;
    height: 90%;
  }
