@charset "UTF-8";

       /* Declarações gerais */
       *{
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    body{
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h1{
        color: white;
        text-shadow: 2px 2px 3px #121f86;
        padding: 10px;
    }

        /* Declarações retrato */
        @media screen and (orientation: portrait){
            body{
                background: url(../imagens/cev-portrait.jpg);
                background-position: center bottom;
                }
        }
        /* Delcações paisagens */
        